@import '../../colors.scss';

.price {
  padding: 62px 0; 

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 904px;
    margin: 0 0 16px;
  }

  &__tagline {
    margin: 0 0 40px;
  }

  &__wrapperContent {
    display: flex;
    gap: 32px;

    &::before {
      content: "";
      flex-basis: 50%;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../../assets/img/price-bg-x1.jpg);

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(../../assets/img/price-bg-x2.jpg);
        }
    }
  }

  &__content {
    flex-basis: 50%;
  }

  &__list {
    padding: 0;
    margin: 0 0 62px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    border-bottom: 1px solid $semi;
    padding-bottom: 7px;
  }

  &__itemTitle {
    text-transform: uppercase;
  }

  &__itemCount {
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    padding: 40px 0;

    &__title {
      font-size: 32px;
    }
  
    &__wrapper-content::before {
      content: none;
    }
  
    &__content {
      flex-basis: 100%;
    }
  
    &__list {
      margin-bottom: 40px;
    }
  }

  @media (max-width: 560px) {
    padding: 32px 0;

    &__title {
      font-size: 20px;
    }
  
    &__tagline {
      font-size: 12px;
      margin-bottom: 24px;
    }
  
    &__list {
      gap: 16px;
      margin-bottom: 24px;
    }
  
    &__item {
      font-size: 12px;
      line-height: 120%;
      padding-bottom: 6px;
    }
  }
}

