.about {
  padding: 62px 0;

  &__title {
    max-width: 904px;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    margin: 0 0 24px;
  }

  &__description {
    max-width: 696px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $semi;
    margin: 0 0 72px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    gap: 24px;
  }

  &__item {
    padding: 6px 0 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
  }

  &__item_top {
    background-image: url(../assets/img/top.svg);
  }

  &__item_master {
    background-image: url(../assets/img/master.svg);
  }

  &__item_guarantee {
    background-image: url(../assets/img/guarantee.svg);
  }


  &__item-title {
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  @media (max-width: 1024px) {
    &__description {
      margin-bottom: 46px;
    }

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      column-gap: 29px;
    }

    &__item {
      padding: 96px 6px 6px 6px;
      background-position: top left;
    }
  }

  @media (max-width: 768px) {
    padding: 40px 0;

    &__title {
      font-size: 32px;
      margin-bottom: 24px;
    }

    &__description {
      margin-bottom:32px;
    }

    &__list {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 45px 32px;
    }

    &__item {
      padding: 0px 6px 6px 96px;
      background-position: left;
    }

    &__item-title {
      font-size: 16px;
    }

    &__item-description {
      line-height: 130%;
    }
  }

  @media (max-width: 560px) {
    padding: 32px 0;

    &__title {
      font-size: 20px;
      margin-bottom: 16px;
    }

    &__description {
      font-size: 12px;
    }

    &__list {
      grid-template-columns: minmax(272px, 1fr);
      gap: 24px;
    }

    &__item {
      padding-left: 72px;
      min-height: 64px;
      background-size: 64px;
    }

    &__item-title {
      font-size: 12px;
    }

    &__item-description {
      font-size: 12px;
    }
  }
}