.preload {
  position: relative;
  min-height: 100px;

  &::after {
    position: absolute;
    content: '';
    width: 56px;
    height: 56px;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    border: 11px double $light;
    border-radius: 50%;
    border-left-style: solid;
    animation: rotate 0.3s infinite linear;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}