.radio {
  &__input {
    position: absolute;
    appearance: none;
  }

  &__label {
    @include form-radio;
  }

  &__input:focus-visible + &__label,
  &__input:checked + &__label {
    background-color: $light;
    color: $dark;
    outline: 1px solid $semi;
  }

  &__input:disabled + &__label{
    opacity: .3;
    cursor: no-drop;
  }

  &__label_spec {
    position: relative;
    padding-left: 52px;
    
    &::before {
      content: '';
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-image: var(--bg-image);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (max-width: 768px) {
      padding-left: 40px;
      
      &::before {
        width: 24px;
        height: 24px;
      }
    }
  }
}

